# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
db.sqlite3
/static/
media/

# Virtual environments
venv/
.env/
ENV/

# IDE / editor files
.vscode/
.idea/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db
